.button-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.input-container {
    margin-bottom: 20px;
}

.btn {
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
}

.arrow-btn {
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
}

.canvas-container {
    margin-top: 20px;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    animation: spin 2s linear infinite;
    display: none; /* Hidden by default */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
